body {
  background-color: rgba(162, 162, 168, 0.384);
  padding-bottom: 60px;
}

.closet-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  max-width: 12100px;
  margin: auto;
}

.closet-left-section {
 line-height: 0;
}

.menu-btn {
  width: 40px;
  margin-left: 10px;
}

.closet-right-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 300px;
}

.trend-button {
  padding: 20px;
  border-radius: 30px;
  border: 2px solid rgb(129, 89, 89);
}

.trend-button:hover {
  color: white;
  background-color: rgb(129, 89, 89);
  cursor: pointer;
  transform: translateY(-10px);
  transition: all 0.6s ease-out;
}

.search-bar {
  flex: 1;
  font-size: 16px;
  height: 38px;
  padding-left: 15px;
  border: 2px solid rgb(129, 89, 89);
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  width: 100%;
}

.search-button {
  background-color: rgb(129, 89, 89);
  width: 45px;
  height: 43px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  cursor: pointer;
}

.search-icon {
  height: 22px;
  margin: 0 auto;
}

.closet-middle-section {
  display: flex;
  max-width: 500px;
  background-color: blue;
}

.closet-motto {
  font-size: 18px;
  font-style: oblique;
  color: rgb(124, 29, 29);
}

.brand-name {
  font-size: 2.0rem;
  color: rgb(124, 29, 29);
  margin: 20px 0;
  padding-right: 5px;
}

@media (max-width: 600px) {
  .closet-header {
    flex-direction: column;
    gap: 10px; /* Space between elements */
    padding: 10px;
  }
  .closet-middle-section {
    max-width: 100%; /* Full width on mobile */
  }
  .trend-button {
    width: 100%; /* Full width button */
    text-align: center;
  }
}